<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <script src="../js/vue.js"></script>
  </head>
  <body>
    <div id="root">
      姓：<input type="text" v-model="firstName"/><br/><br/>
      名：<input type="text" v-model="lastName"/>
      <hr/>
      全名：<span>{{ fullName }}</span>
    </div>

    <!--
        原理：底层借助 Object.defineProperty 方法提供的 getter 和 setter。

        1.计算属性最终会出现在 vm 上，可直接读取。
        2.如果要修改计算属性，必须去写 setter，响应修改它本身依赖的数据。
        3.getter/setter 不能写成箭头函数，this 指向就不再是 vm，变成 window。
        4.与用 methods 实现相比，computed 有缓存机制（复用），效率高。
     -->

    <script>
      Vue.config.productionTip = false;

      const vm = new Vue({
        el: '#root',
        data: {
          firstName: '张',
          lastName: '三',
        },
        computed: {
          fullName: {
            // 只要有人读取 fullName，get 就触发
            // get 什么时候调用？ —— 1.初次读取 fullName 时。
            //                    2.依赖数据项发生变化。
            get() {
              console.log('get被调用了！');
              return this.firstName + '-' + this.lastName;
              // getter 走完后，fullName 就被挂载早 vm 上了，就可以直接访问：vm.fullName
            },
            // setter 示例：当 fullName 被修改，set 就触发
            set(newValue) {
              console.log('set被调用了！！！');
              let arr = newValue.split('-');
              this.firstName = arr[0];
              this.lastName = arr[1];
            },
            /* vm.fullName = '李-四'; */
          },
        }
      });
    </script>
  </body>
</html>
